* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* Navigation bar */
.navbar {
    display: flex;
    z-index: 100;
    border-bottom: 1px rgb(219, 210, 210) solid;
    background-color: white;
    height: 101px;
    justify-content: center;
    align-items: center;
    gap: 890px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu-list {
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
}

.navbar-menu {list-style-type: none;}

.navbar-menu a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 15px;
    font-family: sans-serif;
}

.navbar-menu a:hover {color: rgb(0, 91, 0);}

.connect {
    display: flex;
    gap: 30px;
}

.join-now {
    background-color: black;
    color: white;
    font-size: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 7px 18px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.join-now:hover {background-color: hsl(0, 0%, 20%);}

.sign-in {
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 7px 18px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.sign-in:hover {background-color: rgb(230, 230, 230);}

/* Download app section */
.download-app {
    display: flex;
    width: 1100px;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 70px;
}

.app-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0, 91, 0);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    gap: 30px;
}

.app-text h1 {
    color: white;
    font-family: sans-serif;
}

.app-text a {width: fit-content;}

.app-text button {
    background-color: white;
    color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    font-family: sans-serif;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.app-text button:hover {background-color: hsl(120, 25%, 80%);}

.download-app img {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 60%;
}

/* Rewards section */
.lashbucks-rewards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.lashbucks-rewards h2 {
    width: 570px;
}

.reward-points-group {
    display: flex;
    gap: 60px;
    width: 100%;
    justify-content: center;
}

.reward-points {
    display: flex;
    gap: 20px;
}

.reward-points-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 230px;
}

.reward-points-text p {
    color: rgb(130, 130, 130);
}

.connect-2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.join-now-connect2 {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    border: none;
    color: white;
    background-color: rgb(0, 91, 0);
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.join-now-connect2:hover {
    background-color: hsl(120, 26%, 50%);
}

.sign-in-connect2 {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    border: 1px solid rgb(0, 91, 0);
    background-color: white;
    color: rgb(0, 91, 0);
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.sign-in-connect2:hover {background-color: rgb(230, 230, 230);}

/* Order/About section */
.order-about {
    display: grid;
    grid-template-columns: repeat(2, 540px);
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.summer-1 {
    display: flex;
    flex-direction: column;
}

.summer-1 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.summer-1-text {
    background-color: rgb(0, 91, 0);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    flex: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.summer-1-text a {
    margin-top: 15px;
    width: fit-content;
}

.summer-1-text button {
    background-color: white;
    color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    font-family: sans-serif;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.summer-1-text button:hover {background-color: hsl(120, 25%, 80%);}

.summer-2 {
    display: flex;
    flex-direction: column;
}

.summer-2 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.summer-2-text {
    background-color: rgb(242, 242, 242);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.summer-2-text a {
    margin-top: 15px;
    width: fit-content;
}

.summer-2-text button {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    border: none;
    color: white;
    background-color: rgb(0, 91, 0);
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.summer-2-text button:hover {background-color: hsl(120, 26%, 50%);}

.about {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
}

.about-text {
    background-color: rgb(242, 242, 242);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.about img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-text a {
    margin-top: 15px;
    width: fit-content;
}

.about-text button {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    border: none;
    color: white;
    background-color: rgb(0, 91, 0);
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.about-text button:hover {background-color: hsl(120, 26%, 50%);}

/* Footer */
footer {
    background-color: rgb(1, 55, 1);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 185px;
    padding-top: 50px;
    gap: 200px;
    height: 800px;
    margin-top: 70px;
}

.footer-part-one {
    display: flex;
    gap: 80px;
}

.footer-part-one a {height: fit-content;}

.about-us-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us-footer h5 {
    font-size: 15px;
    font-weight: normal;
}

.about-footer li {
    list-style: none;
}

.about-footer a {
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 14px;
}

.about-footer a:hover {color: white;}

.about-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-part-two {
    display: flex;
    gap: 200px;
    padding-left: 153px;
    align-items: center;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-footer a {
    color: rgb(215, 215, 215);
    font-size: 14px;
    text-decoration: none;
}

.contact-footer a:hover {color: white;}

.contact-footer svg:hover {color: hsl(120, 25%, 80%);}

.footer-icons {
    display: flex;
    gap: 40px;
}

.footer-app {
    border: 1px solid hsl(0, 0%, 33%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.footer-app h5 {
    font-size: 15px;
    color: white;
}

.footer-app p {
    color: rgb(215, 215, 215);
    font-size: 14px;
}

.app-images {
    display: flex;
    gap: 10px;
}

/* ABOUT PAGE */
.about-body {
    display: flex;
    flex-direction: column;
}

.lashbucks-about-us {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Sidebar */
.logo-learn-history {
    background-color: rgb(1, 55, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 550px;
    width: 35%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.learn-history-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.learn-history-text h2 {font-weight: normal;}

/* About us text section */
.bucks-about-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 70px;
    background-color: rgb(247, 247, 247);
}

.bucks-about-text img {
    width: 100%;
    height: 470px;
}

.about-uz {
    padding-left: 180px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
}

.about-uz p {
    width: 650px;
    font-size: 15px;
    color: rgb(130, 130, 130);
}

.same-spacing {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.same-spacing h3 {
    font-weight: normal;
    font-size: 25px;
}

.same-spacing .make-italic-bold {
    font-weight: bold;
    font-style: italic;
    color: black;
}

.same-spacing .just-bold {
    font-weight: bold;
    color: black;
}

/* About footer section */
.about-footers {
    margin-top: 0px;
}

.about-footers .on-about  {
    color: white;
    text-decoration: underline;
}

/* Contact page */
.learn-history-text button {
    background-color: white;
    color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    font-family: sans-serif;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.learn-history-text button:hover {background-color: hsl(120, 25%, 80%);}

.bucks-contact-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 70px;
    background-color: rgb(247, 247, 247);
    padding-top: 70px;
}

.contact-uz {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 65px;
}

.za-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.za-header h1 {
    font-weight: normal;
    font-size: 40px;
}

.contact-uz p {
    width: 650px;
    font-size: 15px;
    color: rgb(130, 130, 130);
}

.same-spazing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.same-spazing h3 {
    font-weight: normal;
    font-size: 20px;
}

/* Contact footer section */
.about-footers {
    margin-top: 0px;
}

.about-footers .on-contact  {
    color: white;
    text-decoration: underline;
}