* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(62, 25, 25);
    color: white;
}

/* Navigation bar */
.navbar {
    display: flex;
    z-index: 100;
    border-bottom: 1px rgb(219, 210, 210) solid;
    background-color: white;
    height: 101px;
    justify-content: center;
    align-items: center;
    gap: 500px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu-list {
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.navbar-menu a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 15px;
    font-family: sans-serif;
}

.after-style-contact::after {
    content: "";
    width: 43px;
    background-color: rgb(62, 25, 25);
    height: 2px;
    position: absolute;
}

.after-style-body::after {
    content: "";
    width: 50px;
    background-color: rgb(62, 25, 25);
    height: 2px;
    position: absolute;
}

.navbar-menu a:hover {color: rgb(102, 50, 50);}

.connect {
    display: flex;
    gap: 30px;
}

.join-now {
    background-color: black;
    color: white;
    font-size: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 7px 18px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.join-now:hover {background-color: hsl(0, 0%, 20%);}

.sign-in {
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 7px 18px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.sign-in:hover {background-color: rgb(230, 230, 230);}

/*Main Page */
h1 {
    padding-top: 200px;
    font-size: 55px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

#search {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.menu-area {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    margin-bottom: 100px;
}

.drink-n-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.drinks-container {
    display: flex;
    gap: 100px;
}

.food-container {
    display: flex;
    gap: 100px;
}

.drinks-container a {text-decoration: none;}

.food-container a {text-decoration: none;}

.brewed-coffee {
    display: flex;
    align-items: center;
    gap: 30px;
}

.breakfast {
    display: flex;
    align-items: center;
    gap: 30px;
}

.brewed-coffee img {
    border-radius: 50%;
    border: 5px solid black;
}

.breakfast img {
    border-radius: 50%;
    border: 5px solid black;
}

.brewed-coffee p {color: white;}

.breakfast p {color: white;}

.hot-tea {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hot-tea img {
    border-radius: 50%;
    border: 5px solid black;
}

.hot-tea p {color: white;}

.hot-chocolate {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hot-chocolate img {
    border-radius: 50%;
    border: 5px solid black;
}

.hot-chocolate p {color: white;}

.drinks h2 {font-size: 25px;}

.food h2 {font-size: 25px;}

.snacks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.snacks img {
    border-radius: 50%;
    border: 5px solid black;
}

.snacks p {color: white;}

.bakery-treats {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bakery-treats img {
    border-radius: 50%;
    border: 5px solid black;
}

.bakery-treats p {color: white;}

.product-area {
    margin-top: 300px;
    display: flex;
    gap: 100px;
}

.product-area img {
    border-radius: 50%;
}

.product-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-weight: bold;
    font-size: 25px;
}

.back-button {
    background-color: rgb(62, 25, 25);
    border: none;
    font-size: 20px;
    margin-top: 200px;
    cursor: pointer;
    color: white;
}

/* Footer */
footer {
    background-color: rgb(185, 183, 183);
    width: 100%;
    color: rgb(62, 25, 25);
    display: flex;
    flex-direction: column;
    padding-left: 185px;
    padding-top: 50px;
    height: 400px;
    margin-top: 70px;
}

.footer-part-one {
    display: flex;
    gap: 80px;
}

.footer-part-one a {height: fit-content;}

.about-us-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us-footer h5 {
    font-size: 15px;
    font-weight: normal;
}

.about-footer li {
    list-style: none;
}

.about-footer a {
    text-decoration: none;
    color: rgb(62, 25, 25);
    font-size: 14px;
}

.about-footer a:hover {color: rgb(102, 50, 50);}

.about-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-part-two {
    display: flex;
    gap: 200px;
    padding-left: 153px;
    align-items: center;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-footer a {
    color: rgb(62, 25, 25);
    font-size: 14px;
    text-decoration: none;
}

.contact-footer a:hover {color: rgb(102, 50, 50);}

.contact-footer svg:hover {color: rgb(102, 50, 50);}

.footer-icons {
    display: flex;
    gap: 40px;
}

.footer-app {
    border: 1px solid hsl(0, 0%, 33%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.footer-app h5 {
    font-size: 15px;
    color: rgb(62, 25, 25);
}

.footer-app p {
    color: rgb(62, 25, 25);
    font-size: 14px;
}

.app-images {
    display: flex;
    gap: 10px;
}