* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* Navigation bar */
.navbar-two {
    display: flex;
    z-index: 100;
    border-bottom: 1px rgb(219, 210, 210) solid;
    background-color: white;
    height: 101px;
    justify-content: center;
    align-items: center;
    gap: 890px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu-list {
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
}

.navbar-menu {list-style-type: none;}

.navbar-menu a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 15px;
    font-family: sans-serif;
}

.navbar-menu a::after {
    content: "";
    width: 43px;
    background-color: green;
    height: 2px;
    position: absolute;
}

.navbar-menu a:hover {color: rgb(0, 91, 0);}

.connect {
    display: flex;
    gap: 30px;
}

.join-now {
    background-color: black;
    color: white;
    font-size: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 7px 18px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.join-now:hover {background-color: hsl(0, 0%, 20%);}

.sign-in {
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 7px 18px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.sign-in:hover {background-color: rgb(230, 230, 230);}

/*Main Page */
h1 {
    padding-top: 200px;
    font-size: 55px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

#search {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.menu-area {
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.menu-area a {
    text-decoration: none;
}

.filter-coffee {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.filter-coffee img {
    border-radius: 50%;
}

.filter-coffee p {
    color: black;
}

.caffe-misto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.caffe-misto img {
    border-radius: 50%;
}

.caffe-misto p {
    color: black;
}

/*Footer*/
footer {
    background-color: rgb(1, 55, 1);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 185px;
    padding-top: 50px;
    gap: 200px;
    height: 800px;
    margin-top: 70px;
}

.footer-part-one {
    display: flex;
    gap: 80px;
}

.footer-part-one a {height: fit-content;}

.about-us-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us-footer h5 {
    font-size: 15px;
    font-weight: normal;
}

.about-footer li {
    list-style: none;
}

.about-footer a {
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 14px;
}

.about-footer a:hover {color: white;}

.about-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-part-two {
    display: flex;
    gap: 200px;
    padding-left: 153px;
    align-items: center;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-footer a {
    color: rgb(215, 215, 215);
    font-size: 14px;
    text-decoration: none;
}

.contact-footer a:hover {color: white;}

.contact-footer svg:hover {color: hsl(120, 25%, 80%);}

.footer-icons {
    display: flex;
    gap: 40px;
}

.footer-app {
    border: 1px solid hsl(0, 0%, 33%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.footer-app h5 {
    font-size: 15px;
    color: white;
}

.footer-app p {
    color: rgb(215, 215, 215);
    font-size: 14px;
}

.app-images {
    display: flex;
    gap: 10px;
}

.back-link {
    margin-top: 100px;
    height: fit-content;
}

.back-button {
    border: none;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
}